<div>
  <h2>Companies Management</h2>
  <h4>List of companies</h4>
  <ul>
      <li ng-repeat="company in companies">
        <a ng-click="showDetails(company, $index)">{{company.name}}</a>
        <table ng-show="$parent.currentCompany == company">
          <tr><td>Name</td><td><input type="text" ng-model="company.name"></td></tr>
          <tr><td>Address</td><td><input type="text" ng-model="company.address"></td></tr>
          <tr><td>City</td><td><input type="text" ng-model="company.city"></td></tr>
          <tr><td>Country</td><td><input type="text" ng-model="company.country"></td></tr>
          <tr><td>Email</td><td><input type="text" ng-model="company.email"></td></tr>
          <tr><td>Phone</td><td><input type="text" ng-model="company.phone"></td></tr>
        </table>
      </li>
  </ul>
  {{companies}}
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
