table td {
  vertical-align: top;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
ul li {
  padding-top: 2px;
  table {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaaaaa;
  }
  button {
    margin-left: 58px;
  }
}
a {
  cursor: pointer;
}
